/* Example bbcode css */

.bbcode-bold {
}

.bbcode-underline {
}

.bbcode-italic {
}

.bbcode-strike {
}

.bbcode-font {
}

.bbcode-pre {
}

.bbcode-code {
}

.bbcode-hr {
}

.bbcode-nl {
}

.bbcode-size {
}

.bbcode-color {
}

.bbcode-align-left {
}

.bbcode-align-center {
}

.bbcode-align-right {
}

.bbcode-link {
}

.bbcode-quote {
  background-color: rgba(200,230,250,.5);
}

.bbcode-quote-title {
}

.bbcode-quote-body {
}

.bbcode-img {
  width: 100%;
  height: 100%;
}

.bbcode-unknown {
}
